@import "reset.css";
/*---------------------------*/
/*Header footer use*/
/*---------------------------*/
:root {
    --app-header-height: 56px;
    --app-footer-height: 400px;
    --app-section-padding-height: 120px;
    --app-sectitle-padding-height: 40px;
    --app-content-text-color: #949393;
    --app-blue: #5fb7f8;
}
h3 {
    font-size: 36px;
    font-weight: 700;
}
h4 {
    font-size: 24px;
    font-weight: 400;
}
/*header style*/
header {
    width: 100%;
    position: fixed;
    height: var(--app-header-height);
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}
.site-nav-container {
    display: flex;
    justify-content: space-between;
}
/*header content*/
.site-nav-container > div {
    height: 100%;
}

.site-nav-title h2 {
    line-height: var(--app-header-height);
    color: white;
    font-weight: 500;
    letter-spacing: 0.2px;
    text-transform: uppercase;
}
.site-nav-list {
    
    display: flex;
    align-items: center;
    
}

.site-nav-desktop-nav {
    height: var(--app-header-height);
}
.site-nav-mobile-nav {
     display:none;
    color: #fff;
   
}
.site-nav-desktop-nav ul {
    list-style: none;
}
.ul-1 li {
    line-height: var(--app-header-height);
    display: inline;
}

.site-nav-desktop-nav ul li {
    line-height: var(--app-header-height);
    display: inline;
}

nav ul li + li {
    margin-left: 18px;
}

header a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.2px;
    transition: color 0.25s ease-in-out;
}

nav ul li a:hover {
    color: var(--app-blue);
}
/*herobanner style*/
.herobanner {
    width: 100%;
    height: calc(100vh * 0.8);
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/banner-bg.jpg) no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-title {
    padding-bottom: 18px;
    text-align: center;
    animation: banner-content 0.5s ease-in-out;
    animation-duration: 1s;
}
.banner-title h2 {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
}
.banner-subtitle p {
    font-size: 24px;
    color: #fff;
}
.banner-subtitle {
    text-align: center;
    padding-bottom: 32px;
    animation: banner-content 0.5s ease-in-out;
    animation-duration: 2s;
}
.banner-button{
   display:flex;
   justify-content:center;
   
}
.banner-button>div{
   padding:10px;
}
.banner-btn-more {
    width: 120px;
    height: 50px;
    color: #fff;
    font-size:16px;
    background-color: var(--app-blue);
    border-radius: 4px;
    animation: banner-content 0.5s ease-in-out;
    animation-duration: 3s;
    transition: all 0.25s ease-in-out;
}
.banner-btn-more:hover {
    background-color: #0f97fb;  
}

.banner-btn-hire {
    width: 120px;
    height: 50px;
    color: #fff;
    font-size: 16px;
    border: solid 1px var(--app-blue);
    background-color: transparent;
    border-radius: 4px;
    animation: banner-content 0.5s ease-in-out;
    animation-duration: 3s;
    transition: all 0.25s ease-in-out;
}
.banner-btn-hire:hover {
    background-color: #0f97fb;
}
@keyframes banner-content {
    0% {       
        opacity: 0;
    }
    100% {      
        opacity: 1;
    }
}
 
/*footer style*/
footer {
    height: var(--app-footer-height);
    background-color: #222222;
}

/*fooder content*/
.site-footer-container {
    height: var(--app-footer-height);
   
}

.site-footer-row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}
.site-footer-company-info {
    text-align: center;  
    overflow: hidden;
}
.site-footer-company-info span a {
    color: #fff;
    font-size: 36px;
    font-weight: 400;
    color: #fff;
    font-weight: 500;
    text-decoration:none;
}
.p-2{
    margin-top:20px;
}
.site-footer-company-info p {
    color: #fff;
    font-size: 16px;
    color: #fff;
    line-height: 30px;
}
.site-footer-social-link {
    display: flex;
    justify-content:center;
    align-items:center;
}
.site-footer-social-link i + i {
    margin-left: 18px;
}
.site-footer-social-link i {
   
    color: #949393;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.site-footer-social-link i:hover {
    color: var(--app-blue);
}


@media(max-width: 768px) {
     
    .site-nav-desktop-nav {
        display: none;
    }

    .site-nav-mobile-nav {
        display: block;
    }

    .site-content-sec1-col-1, .site-content-sec1-col-2 {
        width: 50%;
    }

    .site-content-sec1-col-3 {
        width: 50%;
    }

    .site-content-sec2-col-1, .site-content-sec2-col-2 {
        width: 100%;
    }
    .site-content-sec3-col-1, .site-content-sec3-col-2 {
        width: 100%;
    }

    .site-content-sec2-col-left, .site-content-sec2-col-right {
        padding: 0px;
    }

    .site-content-sec3-col-left , .site-content-sec3-col-right {
        padding: 0px;
    }
    h2{
        font-size:20px;
    }
    .banner-title h2 {
        font-size: 24px;
       
    }
    .banner-subtitle p {
        font-size: 18px;
       
    }
    h3 {
        font-size: 24px;
    }
    h4 {
        font-size: 18px;
    }

    .site-footer-company-info span a {
        font-size: 30px;
    }
    .site-footer-company-info p {     
        font-size: 14px;
    }

}
@media(max-width: 468px) {

    .site-content-sec1-col-1 , .site-content-sec1-col-2 ,.site-content-sec1-col-3 {
        width: 100%
    }
    h2 {
        font-size: 16px;
    }

    .banner-title h2 {
        font-size: 20px;
    }

    .banner-subtitle p {
        font-size: 16px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 16px;
    }

    .site-footer-company-info span a {
        font-size: 26px;
    }

    .site-footer-company-info p {
        font-size: 12px;
    }
}